# Don't track content of these folders
terraform-provider-*
.terraform/
terraform.tfstate.d/
terraform.tfstate
terraform.tfstate.backup

# Compiled files
*.tfstate.backup
.terraform.lock.hcl

# Module directory
.terraform/
ssh_keys/

# Other
.idea/*
.DS_Store

### Packer ###
packer_cache/

# Crash log
crash.log
*.exe
# For built boxes
*.box

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Certs
*.pem
*.der

# Crash log files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
